<header id="header">
	<div id="logo-group">
		<span id="logo"> <img src="img/logo.png" alt="SmartAdmin"> </span>
	</div>
</header>
<div id="content" class="container">				
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4 col-sm-12">
			<div class="well no-padding">
				<form id="login-form" class="smart-form client-form" novalidate>
	        <header>Iniciar Sesión - Privada Roma</header>
	        <fieldset>
	          <section>
	            <label for="" class="label">Nombre de Usuario</label>
	            <label for="" class="input">
	              <i class="icon-append fa fa-user"></i>
	              <input type="text" name="username" ng-model="lc.credentials.username">
	            </label>
	          </section>	
	          <section>
	            <label for="" class="label">Contraseña</label>
	            <label class="input">
	              <i class="icon-append fa fa-lock"></i>
	              <input type="password" name="password" ng-model="lc.credentials.password">
	            </label>
	          </section>
	        </fieldset>	
	        <footer>
	          <button class="btn btn-primary" type="submit" ng-click="lc.login()">Iniciar Sesión</button>
	        </footer>
	      </form>
			</div>												
		</div>
	</div>	
</div>